@media screen and (min-width:375.3px) and (max-width: 1920px) {
    .wrap {
        width: 100%;
    }

    header {
        height: 100px;
        background: rgba(63, 81, 181, 1);
        text-align: center;
        line-height: 100px;
        font-size: 19px;
        color: white;
    }

    .toplist {
        height: 126px;
        width: 83%;
        margin: 21px auto;
        border: 1px solid rgba(187, 187, 187, 1);
        line-height: 20px;
    }

    .imgbox {
        float: right;
        margin-top: 20px;
        margin-right: 20px;
        font-size: 12px;
    }

    .list {
        margin-top: 18px;
    }

    .tab {
        margin-top: 36px;
        display: inline-block;
        margin-left: 50px;
    }

    .list li {
        display: inline-block;
        width: 103px;
        height: 50px;
        line-height: 50px;
        border-radius: 4px;
        background-color: rgba(230, 241, 252, 1);
        text-align: center;
        color: rgba(25, 137, 250, 1);
        margin-left: 20px;
    }

    .list .createbtn {
        color: black;
        background: white;
        border: 1px solid rgba(187, 187, 187, 1);
    }

    .list .action {
        background-color: rgba(24, 144, 255, 1);
        color: white;
    }

    .addStadys {
        margin-left: 9%;
        margin-top: 15px;
    }

    .addStadys .addtext {
        width: 78px;
        border: 0;
        font-size: 12px;
    }

    .addStadys li {
        margin-left: 30px;
        border: 0;
        width: 240px;
        height: 40px;
    }

    .addStadys li .inputname,
    .lostclass,
    .help {
        width: 100%;
        height: 100%;
        line-height: 20px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 1);
        text-align: center;
        border: 1px solid rgba(220, 223, 230, 1);
    }

    .addStadys li .inputname {
        padding-right: 150px;
    }

    .addStadys .addbtn {
        width: 65px;
        height: 40px;
    }

    .addStadys .addbtn input {
        width: 100%;
        height: 100%;
        background-color: rgba(230, 241, 252, 1);
        border: 1px solid rgba(163, 208, 253, 1);
        text-align: center;
        line-height: 20px;
        border-radius: 4px;
        color: rgba(25, 137, 250, 1);
    }
    .btnbox{
        width: 100%;
        height: 63px;
        margin:30px auto;
        background-color: rgba(242,241,241,1);
        line-height: 63px;
    }
    .btnbox .addPerformance,
    .addsolve,
    .examineall {
        height: 35px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 1);
        color: rgba(16, 16, 16, 1);
        font-size: 14px;
        text-align: center;
        font-family: Microsoft Yahei;
        border: 1px solid rgba(187, 187, 187, 1);
    }
    .btnbox .addPerformance{
        width: 109px;
        margin-left: 7%;
    }
    .btnbox .addsolve{
        margin-left: 16px;
        width: 159px;
    }
    .btnbox .examineall{
        float: right;
        width: 214px;
        margin-top: 15px;
        margin-right: 20px;
    }
    .mask{
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
    }

}

@media screen and (min-width:50px) and (max-width: 375.2px) {
    html {
        font-size: calc(100/375*100vw)
    }

    header {
        height: 1rem;
        background: rgba(63, 81, 181, 1);
        text-align: center;
        line-height: 100px;
        font-size: 0.15rem;
        color: white;
    }
}