  @media screen and (min-width:375.3px) and (max-width: 1920px) {
    .wrap {
      width: 100%;
    }

    header {
      height: 100px;
      background: rgba(63, 81, 181, 1);
      text-align: center;
      line-height: 100px;
      font-size: 19px;
      color: white;
    }

    .loginBox {
      width: 499px;
      height: 471px;
      margin: 97.5px auto;
      text-align: center;
    }

    .h2 {
      margin: 15px 0;
      font-size: 23px;
    }

    ul {
      margin-top: 22px;

    }

    .action {
      color: #6329f8;
      border-bottom: 1px solid #6329f8;
    }

    ul li {
      display: inline-block;
      width: 50px;
      text-align: center;
      color: #ccc;
      border-bottom: 2px solid #ccc;
    }

    .check {
      margin-top: 5px;
      width: 200px;
      margin-left: 110px;
    }

    .iptbox {
      width: 100%;
      height: auto;
      text-align: center;
      margin-top: 21px;
    }

    .ipts {
      width: 200px;
      padding-left: 10px;
      height: 34px;
      border: 1px solid #ccc;
      margin-top: 10px;
    }

    .btn {
      width: 200px;
      height: 34px;
      border: 0;
      margin-top: 22px;
      color: white;
      border-radius: 5px;
      background: rgba(63, 81, 181, 1);
    }
  }

  @media screen and (min-width:50px) and (max-width: 375.2px) {
    html {
      font-size: calc(100/375*100vw)
    }

    html,
    body,
    .wrap {
      width: 100%;
      height: 100%;
    }

    .wrap {
      display: flex;
      flex-direction: column;
    }

    header {
      height: 0.5rem;
      background: rgba(63, 81, 181, 1);
      text-align: center;
      line-height: 0.5rem;
      font-size: 0.15rem;
      color: white;
    }

    main {
      flex: 1;
      overflow: auto;
    }

    .loginBox {
      width: 100%;
      height: 4.71rem;
      margin: 0.975rem auto;
      text-align: center;
    }

    .h2 {
      margin: 0.15rem 0;
      font-size: 0.23rem;
    }

    .ul {
      margin-top: 0.22rem;
      padding-left: 1.35rem;
      height: 0.3rem;
    }

    .ul li {
      font-size: 0.13rem;
      float: left;
      line-height: 0.3rem;
      width:0.5rem;
    }

    .action {
      color: #6329f8;
      text-align: center;
      width: 0.5rem;
      border-bottom: 0.01rem solid #6329f8;
    }

    .div {
      text-align: center;
      color: #ccc;
      font-size: 0.13rem;
      border-bottom: 0.02rem solid #ccc;
    }

    .check {
      margin-top: 0.05rem;
      width: 2rem;
      margin-left: 0.5rem;
      font-size: 0.12rem;
    }

    .iptbox {
      width: 100%;
      text-align: center;
      margin-top: 0.21rem;
      display: flex;
      flex-direction: column;
    }

   .iptbox .p {
     height: .3rem;
     margin-top: 0.1rem;
   }

    .ipts {
      width: 2rem;
      padding-left: 0.1rem;
      height: 0.34rem;
      border: 0.01rem solid #ccc;
      margin-top: 0.1rem;
      position: relative;
      top:-0.9rem;
    }

    .btn {
      width: 2rem;
      height: 0.34rem;
      border: 0;
      margin-top: 0.22rem;
      color: white;
      border-radius: 0.05rem;
      background: rgba(63, 81, 181, 1);
      position: relative;
      top:-0.8rem;
    }
  }